@import 'header';
@import 'footer';
@import 'mobile';

ul {
  list-style: none;  
}


.headerTitle {
    height: 70px;
    width: 100%;
    background-image: url(../../public/img/coleccion.jpg);
    background-position: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    div {
        background-color: #F1E9DC;
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-family: Arial, Helvetica, sans-serif;
    }
}


main {
    margin-left: 15%;
    img {
        height: 206px;
    }
}


td {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    span {
        font-size: small;
    }
}


table {
    border-spacing: 60px;
}

.animado {
        width: 100px;
        height: 50px;
        font-weight: bold;
        position: relative;
        animation: mymove 8s infinite;
        color: #F09A99;
        font-size: larger;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 60%;}
  }
@media only screen and (max-width: 797px) {
    footer {
        display: none;
    }

    main {
        margin-left: 5% !important;
    }
}